parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - 'src/Thor/Template/*'
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
        #- '#id is never written, only read#'
